stages:
    - analysis

########################################################################################################################
# Basic declarations
.requires-nodejs: &requires-nodejs
    tags:
        - nodejs

.nodejs-xenial: &nodejs-xenial
    image: $CI_REGISTRY/ginger/base/ubuntu_xenial_nodejs:latest

########################################################################################################################
# Individual jobs
css:
    <<: *requires-nodejs
    <<: *nodejs-xenial
    stage: analysis
    before_script:
        - npm install -g stylelint stylelint-config-standard postcss-sass
        - npm list --global
    script:
        - make check-css
    variables:
        NODE_PATH: "/usr/lib/node_modules"
