@import url("global.css");
@import url("layout.css");

.cleaner {
    clear: both;
    margin: 0;
    padding: 0;
}

#traceback {
    color: red;
    font-family: monospace;
    font-size: 12px;
}

.no-wrap {
    white-space: nowrap;
}
