.detail_table { margin: 0.5em 0; }

.detail_table th { text-align: left; }

.detail_table th,
.detail_table td {
    vertical-align: top;
    padding: 0;
    border-collapse: collapse;
}

.nested_detail_table {
    border-collapse: collapse;
}

.nested_detail_table > tbody > tr > td {
    padding: 0;
}

.object_list_detail_table th { text-align: left; }
