@import url("detail_table.css");
@import url("section_table.css");

.discloseTrue,
.status_ok { background-color: #bf8; }

.discloseFalse,
.status_fail { background-color: #fbb; }

.highlight_ok {
    color: green;
}

/* center forms inside filter panel */
.filter_panel .form_table {
    margin-left: auto;
    margin-right: auto;
}

.filter_panel {
    table-layout: fixed;
    margin-left: 2px;
    border: medium gray;
    text-align: center;
}

.filter_panel td {
    height: 2.5em;
}

.filter_panel a {
    background: white url("../img/admin/nav-bg.gif") bottom repeat-x;
    padding: 4px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.filter_panel a:active {
    background-image: url("../img/admin/nav-bg-reverse.gif");
    background-position: top;
}

.history_list_table {
    border-collapse: collapse;
}

.history_list_table td {
    border: thin solid gray;
}

.history_dates_field { /* "from", "to" and "action" fiedl of history row */
    background-color: #eee;
}

.history_list_table tr.history_row {
    background-color: #ffd;
}

.history_list_table tr.history_row .history_dates_field {
    background-color: #eec;
    width: 13em;
}

.history_list_table tr td.history_dates_field:last-child {
    width: 1.5em;
}

.field_empty { /* When field is empty it displays span with this css class */
    width: 4em;
    height: 1em;
}

.state_table {
    border-collapse: collapse;
}

.state_table td,
.state_table th {
    border: thin solid gray;
}

.state_table td.state_on {
    background-color: lightgray;
    color: lightgray;
    text-align: center;
}

.state_table .date_cell {
    vertical-align: bottom;
}

.state_table .state_header_cell {
    width: 2em;
    text-align: center;
}

.no_access {
    background-color: gray;
    padding: 0.2em;
}

td > .no_access:first-child {
    padding: 0;
}

.borderless {
    border: none !important;
}

.verification_check_table tfoot > tr > td,
.verification_check_table tfoot > tr > th {
    border: thin solid gray;
}

table.submit-row {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
