/* Normal Filter Table */
.filtertable {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    padding: 0;
    margin: 0;
}

.filtertable .filtertable {
    width: 100%;
}

.filtertable td,
.filtertable th {
    padding: 3px;
}

.filtertable th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.filtertable .filtertable_header th {
    font-size: 13px;
    color: #666;
    vertical-align: middle;
}

.filtertable .and_row td {
    text-align: center;
}

.filtertable .filtertable .filtertable_header {
    display: none;
}

/* Union Filter Table */
.unionfiltertable {
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    margin: 1em 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.unionfiltertable td {
    vertical-align: top;
}

/* stylelint-disable-next-line no-descending-specificity */
.unionfiltertable > tbody > tr > td {
    padding: 1px;
}

.unionfiltertable .or_cell {
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.unionfiltertable .submit_row td {
    border-top-width: 2px;
    border-top-style: solid;
    text-align: center;
}

.unionfiltertable .submit_row td,
.unionfiltertable .or_cell {
    padding: 0.1em 0.3em;
}

/* Exjt grid row mouse over */
.extjs .x-grid3-row-over {
    background-color: #d0def0;
    background-image: none;
}

.extjs .x-grid3-row td,
.extjs .x-grid3-summary-row td {
    -moz-user-select: text !important; /* it is not possible to set it to 'normal', but 'text' has propably same effect
/*    -khtml-user-select: normal !important; */
}
