#navigation {
    width: 130px;
    background-color: lightgray;
    border-right: 1px dashed #d9d9d9;
    border-bottom: 1px dashed #d9d9d9;
    font-size: 80%;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation li {
    border-bottom: 6px solid #fff;
}

#navigation li li {
    margin: 0;
    background: #f2f2f2;
    border-bottom: 1px solid #fff;
}

#navigation li li li {
    border: none;
    border-top: 1px solid #fff;
}

#navigation a {
    color: #000;
    display: block;
    padding: 2px 0 3px 12px;
    margin: 0;
    border-left: 5px solid #d9d9d9;
}

#navigation a.active {
    color: #000;
    background: #ffd8a6;
    border-left-color: #ffb453;
}

#navigation li li li a,
#navigation li li li a.active {
    font-size: 85%;
    padding: 2px 0 3px 18px;
    background: #ffe5c3;
    border-left: 5px solid #ffb453;
}

#navigation li li li a.active {
    color: #000;
    background: #ffe5c3;
    border-left-color: #d93300;
}

#navigation a:hover,
#navigation a:hover.active,
#navigation li li li a:hover.active {
    text-decoration: underline;
    background: #f2f2f2;
    border-left-color: #d93300;
}
